 
 /* about css  */
 .contractors-section {
  text-align: center;
  padding: 100px 80px;
}

.contractors-section h2 {
  font-size: 26px;
  font-weight: 600;
}

.contractors-section p {
  margin: 10px 0 30px;
  color: #555;
}

.contractor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  justify-items: center;
}

.contractor-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.contractor-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.work-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.work-images img {
  width: 120px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.view-profile {
  background: #000;
  color: #fff;
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}