/* ===== Gallery css ===== */
.gallery-section {
  text-align: center;
  padding: 100px 0 80px;
  background-color: #fff;
}

.gallery-section h2 {
  font-size: 20px;
  font-weight: 500;
  color: #555;
  margin-bottom: 60px;
}

.gallery-grid {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ddd;
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery-grid {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .gallery-section h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .gallery-grid img {
    height: 200px;
  }
}
