/* login css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.back-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  float: left;
}
.back-btn a{
  color: white;
  text-decoration: none;
}
.form-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px 40px;
  text-align: left;
}
.form-box a{
  color: white;
}
.form-box h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #555;
  font-size: 15px;
  margin-bottom: 25px;
}

label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input-box {
  position: relative;
  margin-bottom: 18px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  resize: none;
}

textarea {
  height: 60px;
}

.main-btn {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.switch-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.switch-text a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}
