
/* service css */
.hero {
  text-align: center;
  margin: 10px 20px;
  height: 100px;
}

.hero h1 {
  font-size: 32px;
}

.hero p {
  color: #555;
  margin-top: 8px;
}

/* Services Grid */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  padding: 10px 60px;
  margin: 0px 100px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.tag {
  background: #eee;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.rating {
  font-size: 14px;
}

.card h3 {
  font-size: 17px;
  margin: 6px 0;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.features ul {
  margin-left: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.book, .details {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.book {
  background: #000;
  color: #fff;
}

.details {
  background: #f1f1f1;
}


